  
<%- include('./partials/header.ejs') %>

<form method="POST" action="/pokemon/<%=index%>?_method=PUT">
	
	<fieldset>
		<label for="name">Name:</label>
		<input id="name" type="text" name="name" placeholder="Enter Pokemon name" value="<%=pokemon.name%>">
	</fieldset>

	<fieldset>
		<label for="image">Image:</label>
		<input id="image" type="text" name="image" value="<%=pokemon.img%>">
	</fieldset>

	<button>Update Pokemon</button>

</form>

<%- include('./partials/footer.ejs') %>