<%- include('./partials/header.ejs') %>
<ul>
	<%  for(let i = 0; i <AllPokemon.length; i++){   %>
		<li> 
			<a href="/pokemon/<%= i %>"><%=   AllPokemon[i].name   %></a>
			<a href="/pokemon/<%= i %>/edit"> Edit </a>
		</li>


		<%  }  %>
	
</ul>


<%- include('./partials/footer.ejs') %>