  
<%- include('./partials/header.ejs') %>

	<form method="POST" action="/pokemon/<%=pokemonIndex%>?_method=DELETE">
		<button>Delete</button>
	</form>

	<h1><%=pokemonIndex.name%></h1>

	<img src="<%=pokemonIndex.img%>">

<%- include('./partials/footer.ejs') %>